{% extends 'layout.html' %} {% load static %}

{% block extra_head %}
    <script src="{% static 'js/signup.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock extra_head %}

{% block content %}

    <div class="signup__container">

        <div class="signup__top">
            <img class="signup__logo" src="{% static 'img/login-logo.png' %}" alt="login-logo">
            <div class="signup__title">
                모아를 시작해볼까요?
            </div>
        </div>

        <form action="" method="POST" class="signup__form">
            {%csrf_token%}        
    
            {% for field in form %}
                {% if field.name == 'is_agree' %}
                    <div class="signup__content">
                        <p>모아 ('www.moa.today'이하 'moa.today')은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고 이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.</p>
                        <br>
                        <p>○ 이 개인정보처리방침은 2022년 7월 24부터 적용됩니다.</p>
                        <br>
                        <p>모아 ('www.moa.today'이하 'moa.today')은(는) 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.</p>
                        <br>
                        <p>1. 홈페이지 회원가입 및 관리</p>
                        <br>
                        <p>회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증, 회원자격 유지·관리, 서비스 부정이용 방지, 만14세 미만 아동의 개인정보 처리 시 법정대리인의 동의여부 확인, 각종 고지·통지 목적으로 개인정보를 처리합니다.</p>
                        <br>
                        <p>2. 재화 또는 서비스 제공</p>
                        <br>
                        <p>서비스 제공, 콘텐츠 제공, 본인인증을 목적으로 개인정보를 처리합니다.</p>
                    </div>
                    <div class="signup__agree">
                        <p>약관에 동의하십니까?</p>
                        {{field}}
                    </div>
                    {% if is_agree %}
                        <p class="unavailable">
                            {{is_agree}}
                        </p>  
                    {% endif %}
                {% else %}
                    <div class="signup__field {{field.name}}">
                        {{field}}
                    </div>
                {% endif %}

                {% if field.name == 'email' %}
                    {% if email %}
                        <p class="unavailable">
                            {{email}}
                        </p>
                    {% endif %}                        
                {% elif field.name == 'username' %}
                    {% if username %}
                        <p class="unavailable">
                            {{username}}
                        </p>
                    {% endif %}                        
                {% elif field.name == 'password2' %}
                    {% if password %}
                        <p class="unavailable">
                            {{password}}
                        </p>  
                    {% endif %}
                {% endif %}
    
            {% endfor %}
    
            <div class="signup__button">
                <button type="submit" class="signup__submit">회원가입</button>
            </div>
        </form>
    </div>

{% endblock content %}