{% extends 'layout.html' %} {% load static %}

{% block content %}


    <a href="?sort=0&status={{status}}&page={{page}}">생성 순</a>
    <a href="?sort=1&status={{status}}&page={{page}}">종료 임박 순</a>

    <a href="?sort={{sort}}&status=0&page={{page}}">주문 전체 보기</a>
    <a href="?sort={{sort}}&status=1&page={{page}}">미완료 주문만 보기</a>

    {% for order in orders %}
        <hr>
            <div>
                <div>
                    <a href="{% url 'order:order_read' order.pk %}">
                        <p>상호 : {{order.store}}</p>
                        <p>펀딩상태 : {{order.order_status}}</p>
                        <p>완료시간 : {{order.target_time}}</p>
                        <p>펀딩 희망 인원 : {{order.target_people}}</p>
                        <p>펀딩 필요 금액 : {{order.target_money}}</p>
                        <p>배송 희망 위치 : {{order.receive_place}}</p>
                    </a>
                </div>
            </div>
        <hr>
    {% endfor %}
    
{% endblock content %}