<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>상   호 : {{order.store}}</p>
    <p>진행상태 : {{order.order_status}}</p>
    <p>완료시간 : {{order.target_time}}</p>

    <hr>

    <p>펀딩 희망 인원 : {{order.target_people}}</p>
    <p>펀딩 필요 금액 : {{order.target_money}}</p>
    <p>배송 희망 위치 : {{order.receive_place}}</p>

    <a href="{% url 'order:order_update' order.pk %}">수정</a>

    <form action="{% url 'order:order_delete' order.pk %}" method="POST">
        {% csrf_token %}
        <button>삭제</button>
    </form>

    {% if user == order.host %}
        <form action="{% url 'order:order_close' order.pk %}" method="POST">
            {% csrf_token %}
            <button>주문완료</button>
        </form>
    {% elif fund %}
        <form action="{% url 'funding:funding_delete' fund.pk %}" method="POST">
            {% csrf_token %}
            <button>펀딩참여취소</button>
        </form>
    {% else %}
        <form action="{% url 'funding:funding_create' order.pk %}" method="POST">
            {% csrf_token %}
            <button>펀딩참여</button>
        </form>
    {% endif %}

</body>
</html>