{% extends 'layout.html' %} {% load static %}

{% block extra_head %}
    <script src="{% static 'js/order_read.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'css/order_read.css' %}">
{% endblock extra_head %}

{% block content %}

    <div class="order__read__container" style="height: 75vh;">

        <div class="order__read__top">
            <div class="order__read__title">
                주문서
            </div>
        </div>

        <div class="order__info__container">

            <div class="order__info__field">
                <div class="order__info__title">
                    상&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;호
                </div>
                <div class="order__info">
                    <img class="order__info__img" src="{% static 'img/store.svg' %}" alt="식당 아이콘">
                    <p class="order__info__content">{{order.store}}</p>
                </div>
            </div>

            <div class="order__info__field">
                <div class="order__info__title">
                    진행상태
                </div>
                <div class="order__info">
                    {% if order.order_status %}
                        <p class="order__content"><span style="color: green;">●</span> 진행완료</p>
                    {% else %}
                        <p class="order__content"><span style="color: red;">●</span> 진행중</p>
                    {% endif %}
                </div>
            </div>

            <div class="order__info__field">
                <div class="order__info__title">
                    완료시간
                </div>
                <div class="order__info">
                    <img class="order__info__img" src="{% static 'img/clock.svg' %}" alt="시간 아이콘">
                    <p class="order__info__content">{{order.target_time}}</p>
                </div>
            </div>

            <div class="horizontal"></div>

            <div class="order__info__field">
                <div class="order__info__title">
                    펀딩 희망 인원
                </div>
                <div class="order__info">
                    <img class="order__info__img" src="{% static 'img/user.svg' %}" alt="인원 아이콘">
                    <p class="order__info__content">{{order.target_people}}</p>
                </div>
            </div>

            <div class="order__info__field">
                <div class="order__info__title">
                    펀딩 필요 금액
                </div>
                <div class="order__info">
                    <img class="order__info__img" src="{% static 'img/money.svg' %}" alt="돈 아이콘">
                    <p class="order__info__content">{{order.target_money}}</p>
                </div>
            </div>

            <div class="order__info__field">
                <div class="order__info__title">
                    배송 희망 위치
                </div>
                <div class="order__info">
                    <img class="order__info__img" src="{% static 'img/map.svg' %}" alt="지도 아이콘">
                    <p class="order__info__content">{{order.receive_place}}</p>
                </div>
            </div>

            {% if user == order.host %}
                <div class="order__info__field">
                    <div class="order__info__title">
                        오픈채팅방 링크
                    </div>
                    <div class="order__info">
                        <p class="order__info__content">{{order.chat_room}}</p>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if order.order_status == False %}
            {% if user == order.host %}

                <div class="order__read__option">
                    <div class="order__btn__option">
                        <button class="btn btn__update" onclick="show_update_modal();">주문 수정</button>
                    </div>

                    <div class="order__btn__option">
                        <button class="btn btn__delete" onclick="show_delete_modal();">주문 삭제</button>
                    </div>

                    <div class="order__btn__option">
                        <button class="btn btn__complete" onclick="show_complete_modal();">주문 완료</button>
                    </div>
                </div>
            {% else %}
                <div class="order__participate">
                    {% if fund %}
                        <div class="order__participate__desc">
                            <p>오픈채팅방에 참여하세요.</p>
                        </div>
                        <div class="order__btn__participate">
                            <a href="{{order.chat_room}}">{{order.chat_room}}</a>
                        </div>
                        <div class="order__btn__participate">
                            <button class="btn__participate__delete"  onclick="show_join_delete_modal();">펀딩 참여 취소</button>
                        </div>
                    {% else %}
                        <div class="order__btn__participate">
                            <button class="btn__participate"  onclick="show_join_modal();">펀딩 참여</button>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <script src="https://code.jquery.com/jquery-latest.js"></script>

        <div id="updateOrderModal" class="modal">

            <!--modal content-->
            <div class="modal-content">
            <p>주문을 수정하시겠습니까?</p>
            <div class="modal-button">
                <form action="{% url 'order:order_update' order.pk %}" method="GET">
                {% csrf_token %}
                <button style="color:#EEF2FF; background: #676FA3;">확인</button>
                </form>
                <button style="color:#EEF2FF; background: #676FA3;" onclick="close_update_modal();">취소</button>
            </div>
            </div>
        </div>

        <div id="deleteOrderModal" class="modal">

            <!--modal content-->
            <div class="modal-content">
            <p>주문을 삭제하시겠습니까?</p>
            <p style="font-size: .8rem;">주문을 삭제시 주문 기록은 사라집니다.</p>
            <div class="modal-button">
                <form action="{% url 'order:order_delete' order.pk %}" method="POST">
                {% csrf_token %}
                <button style="color:#EEF2FF; background: #676FA3;">확인</button>
                </form>
                <button style="color:#EEF2FF; background: #676FA3;" onclick="close_delete_modal();">취소</button>
            </div>
            </div>
        </div>

        <div id="completeOrderModal" class="modal">

            <!--modal content-->
            <div class="modal-content">
            <p>주문을 완료하시겠습니까?</p>
            <div class="modal-button">
                <form action="{% url 'order:order_close' order.pk %}" method="POST">
                {% csrf_token %}
                <button style="color:#EEF2FF; background: #676FA3;">확인</button>
                </form>
                <button style="color:#EEF2FF; background: #676FA3;" onclick="close_complete_modal();">취소</button>
            </div>
            </div>
        </div>

        <div id="fundingCreateModal" class="modal">

            <!--modal content-->
            <div class="modal-content">
            <p>주문에 참여하시겠습니까?</p>
            <div class="modal-button">
                <form action="{% url 'funding:funding_create' order.pk %}" method="POST">
                {% csrf_token %}
                <button style="color:#EEF2FF; background: #676FA3;">확인</button>
                </form>
                <button style="color:#EEF2FF; background: #676FA3;" onclick="close_join_modal();">취소</button>
            </div>
            </div>
        </div>

        <div id="fundingDeleteModal" class="modal">

            <!-- modal content -->
            <div class="modal-content">
            <p>주문에 참여하지 않겠습니까?</p>
            <div class="modal-button">
                <form action="{% url 'funding:funding_delete' order.pk %}" method="POST">
                {% csrf_token %}
                <button style="color:#EEF2FF; background: #676FA3;">확인</button>
                </form>
                <button style="color:#EEF2FF; background: #676FA3;" onclick="close_join_delete_modal();">취소</button>
            </div>
            </div>
        </div>
    {% else %}
    </div>
    {% endif %}

{% endblock content %}