{% extends 'layout.html' %} {% load static %}

{% block content %}

    <div class="login">
        <div class="login__title">
            <h3>로그인</h3>
        </div>

        <form action="" method="POST" class="login__form">
            {%csrf_token%}
                
                <div class="login__field">
                    <div class="login__field__label">아이디</div>
                    {{form.email}}

                </div>

                <div class="login__field">
                    <div class="login__field__label">비밀번호</div>
                    {{form.password}}
                </div>

                {% if error %}
                    <div class="login__error">   
                        {{error}}
                    </div>
                {% endif %}
    
            <div class="login__field">
                <button type="submit" class="login__submit">로그인</button>
            </div>
        </form>
    </div>

{% endblock content %}