{% extends 'layout.html' %} {% load static %}

{% block content %}

    <div class="signup">

        <div class="signup__title">
            <h3>회원 가입</h3>
        </div>

        <form action="" method="POST" class="signup__form">
            {%csrf_token%}        
    
            {% for field in form %}
    
                <div class="signup__field {{field.name}}">
                    <div class="signup__field__label">{{field.label}}</div>
                    {{field}}
                </div>
                {% if field.name == 'agree' %}
                    {% if is_agree %}
                        <div id="email__available">
                            <p id="email_status" style="color: red;">{{error_agree}}</p>
                        </div>  
                    {% endif %}
                {% elif field.name == 'email' %}
                    <div class="signup__field">
                        <div id="email__available">
                            {% if email %}
                                <p id="email_status" style="color: red;">{{error_email}}</p>
                            {% else %}
                                <p id="email_status"></p>
                            {% endif %}                        
                        </div>
                        <button class="email__confirm" onclick="onClickEmail()">중복 확인</button>
                    </div>
                {% elif field.name == 'password2' %}
                    {% if password %}
                        <div id="email__available">
                            <p id="email_status" style="color: red;">{{error_password}}</p>
                        </div>  
                    {% endif %}
                {% endif %}
    
            {% endfor %}
    
            <div class="signup__field">
                <button type="submit" class="signup__submit">회원가입</button>
            </div>
        </form>
    </div>

{% endblock content %}